NEXT_TELEMETRY_DISABLED=1
MAINTENANCE=true
RESEND_API_KEY="Your key goes here"

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres.kvlhpwbpzbnbzqibjmnz:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres.kvlhpwbpzbnbzqibjmnz:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"