# Ignore Next.js build output
.next/

# Ignore node_modules directory
node_modules/

# Ignore VSCode settings
.vscode/

# Ignore Mac and Windows system files
.DS_Store
Thumbs.db

# Environmental files
.env
.env.*