# Ignore Next.js build output
.next/

# Ignore node_modules directory
node_modules/

# Ignore VSCode settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Ignore Mac and Windows system files
.DS_Store
Thumbs.db

# Environmental files
.env
.env.*